<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Items</title>
</head>
<body>
    <h1>All Items of online shop</h1>

    <br>
    <a th:href="@{/home}">Go to home</a>
    <br>

    <table class="table" border="2">
        <thead>
        <tr>
            <th>No. </th>
            <th>Id </th>
            <th>Name </th>
            <th>Price </th>
            <th>Creation time </th>
            <th>Operations</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item, temp : ${items}">
            <th th:scope="row" th:text="${temp.index + 1}"/>
            <td th:text="${item.id}"/>
            <td th:text="${item.name}"/>
            <td th:text="${item.price}"/>
            <td th:text="${item.createdAt}"/>

            <td>
                <form th:action="@{/users/{id}/add (id=${#request.userPrincipal.principal.user.id})}">
                    <button type="submit" name="item_id" th:value="${item.getId()}">Add to cart</button>
                </form>
                <form th:action="@{|/shopping_items/read/${item.id}|}">
                    <button type="submit">Info</button>
                </form>
                <form th:action="@{|/shopping_items/update/${item.id}|}">
                    <button type="submit">Edit</button>
                </form>
                <form th:action="@{|/shopping_items/delete/${item.id}|}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>


</body>
</html>