<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome to the shop</h1>
    <p style="color:dodgerblue">We glad to see you, <p th:text="${#authentication.name}"></p></p>
    <br>
    <form th:action="@{|/auth/logout|}" method="post" name="logout">
        <button type="submit">Logout</button>
    </form>
    <br>
    <br>
    <p style="color: darkmagenta">Menu</p>
    <div>
        <a th:href="@{|/users/all|}">Go to list of users</a>
    </div>

</body>
</html>