<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a4849091d7.js" crossorigin="anonymous"></script>
    <title>Create item</title>

    <style>
        *{
            margin: 0;
            padding: 0;
            border: 0;
        }

        .item-create-form{
            width: 400px;
            max-width: 400px;
            justify-content: start;
            margin: initial;
            padding: 3rem;
        }

        .content{
            text-align:left;
            width: 300px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <div class="container justify-content-start">
        <div class="navbar-brand">VarShop</div>

        <div class="collapse navbar-collapse">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{|/shopping_items/all|}">Shop menu</a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{|/shopping_items/create|}">Upload thing</a></li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <ul class="nav-item navbar-text dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">[[${#request.userPrincipal.principal.user.email}]]
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-header">User menu</li>
                        <div sec:authorize="hasAuthority('developer:write')">
                            <form th:action="@{|/users/all|}">
                                <button class="dropdown-item" style="color:black" type="submit">Go to list of users <i class="fa-solid fa-users"></i></button>
                            </form>
                        </div>

                        <form th:action="@{|/users/${#request.userPrincipal.principal.user.id}/items|}">
                            <button class="dropdown-item" style="color:black" type="submit">Go to cart <i class="fa-solid fa-cart-shopping"></i></button>
                        </form>

                        <div class="dropdown-divider"></div>
                        <li class="dropdown-header">Options</li>
                        <form th:action="@{|/auth/logout|}" method="post" name="logout">
                            <button type="submit" class="dropdown-item" style="color:black">Logout</button>
                        </form>
                    </div>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="container-form form-control">
        <div class="item-create-form">
            <h3>Create item</h3>
            <form th:action="@{|/shopping_items/create|}" th:object="${item}" th:method="post">
                <div>
                    <label for="name">Name: </label>
                    <input class="form-control" id="name" type="text" th:field="*{name}" placeholder="Name of thing"/>
                    <small style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                </div>
                <div>
                    <label for="price">Price: </label>
                    <input class="form-control" id="price" type="number" th:field="*{price}" placeholder="Price"/>
                    <small style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
                </div>
                <div>
                    <label for="image">Photo: </label>
                    <input class="form-control" id="image" type="url" name="image" th:field="*{image}" placeholder="Enter URL of picture"/>
                </div>
                <br>
                <div>
                    <input class="btn btn-success" type="submit" value="Upload"/>
                    <input class="btn btn-warning" type="reset" value="Clear"/>
                    <div class="content">
                        <b>Note:</b>
                        <p>When you are uploading the product, your price <b>cannot be lower 0</b>!</p>
                        <p>Use a semantic name, don't specify something that doesn't correspond to the product.</p>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
</body>
</html>