<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create User</title>
</head>
<body>
    <h1>Create user</h1>
    <br>
     <form th:action="@{|/users/create|}" th:object="${user}" th:method="post">

    <div>
        <label for="name">Name: </label>
        <input id="name" type="text" th:field="*{name}"/>
        <small style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
    </div>
    <div>
        <label for="surname">Surname: </label>
        <input id="surname" type="text" th:field="*{surname}"/>
        <small style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></small>
    </div>
    <div>
        <label for="password">Password: </label>
        <input id="password" type="password" th:field="*{password}"/>
        <small style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
    </div>
    <div>
        <label for="email">E-mail: </label>
        <input id="email" type="email" th:field="*{email}"/>
        <small style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
    </div>
    <div>
        <input type="submit" value="Create"/>
        <input type="reset" value="Clear"/>
    </div>

    </form>

    <a th:href="@{|/users/all|}">Back to list</a>

</body>
</html>