<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Items</title>
</head>
<body>
    <h3>Items in your car:</h3>
    <br>
    <a th:href="@{/home}">Go to home</a>
    <br>
        <div>
            <table border="1">
                <thead>
                <tr>
                    <th scope="col">No. </th>
                    <th scope="col">Id </th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Operations</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="item, temp : ${user.getStuffList()}">
                        <th th:scope="row" th:text="${temp.index + 1}"/>
                        <td th:text="${item.id}"/>
                        <td th:text="${item.name}"/>
                        <td th:text="${item.price}"/>
                        <td>
                            <a th:href="@{/users/{id}/remove(id = ${user.id}, item_id = ${item.id})}">Remove</a>
                        </td>
                        <tr>
                </tbody>
            </table>
        </div>


    <br>
    <br>
    <br>


    <h3>Items in the store:</h3>
        <div>
            <form th:action="@{/users/{id}/add(id = ${user.id})}" method="get">
                <select class="form-control" name="item_id">
                    <option>Select item...</option>
                    <option th:each="item : ${items}" th:value="${item.id}"
                            th:text="${item.name}"></option>
                </select>
                <input class="btn btn" type="submit" value="Add">
            </form>
        </div>

</body>
</html>