<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a4849091d7.js" crossorigin="anonymous"></script>
    <title>Items</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <div class="container justify-content-start">
        <div class="navbar-brand">VarShop</div>

        <div class="collapse navbar-collapse">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{|/shopping_items/all|}">Shop menu</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{|/shopping_items/create|}">Upload thing</a></li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <ul class="nav-item navbar-text dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">[[${#request.userPrincipal.principal.user.email}]]
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-header">User menu</li>
                        <form th:action="@{|/users/all|}">
                            <button class="dropdown-item" style="color:black" type="submit">Go to list of users <i class="fa-solid fa-users"></i></button>
                        </form>

                        <div class="dropdown-divider"></div>
                        <li class="dropdown-header">Options</li>
                        <form th:action="@{|/auth/logout|}" method="post" name="logout">
                            <button type="submit" class="dropdown-item" style="color:black">Logout</button>
                        </form>
                    </div>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="fullscreen">
    <div class="container form-control">
        <div class="container justify-content-start">
            <br>
            <h3>Items in your car:</h3>
            <br>
            <br>
                <div>
                    <table class="table table-hover table-sm table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">No. </th>
                                <th scope="col">Id </th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Photo</th>
                                <th scope="col">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item, temp : ${user.getStuffList()}">
                                <th th:scope="row" th:text="${temp.index + 1}"/>
                                <td th:text="${item.id}"/>
                                <td th:text="${item.name}"/>
                                <td th:text="${item.price}"/>
                                <td>
                                    <img th:src="${item.image}" width="400" height="300">
                                </td>
                                <td>
                                    <a th:href="@{|/shopping_items/read/${item.id}|}"
                                       style="color:white" class="btn btn-info">Info</a>

                                    <a th:href="@{/users/{id}/remove(id = ${user.id}, item_id = ${item.id})}"
                                    class="btn btn-danger">Remove</a>
                                </td>
                        </tbody>
                    </table>
                    <div th:if="${user.getStuffList().isEmpty()}" class="text-center">
                        <b>Cart is empty, if you would like to buy something, follow to shop menu ;)</b>
                    </div>
                </div>


            <br>
            <br>
            <br>


            <h3>Items in the store:</h3>
                <div>
                    <form th:action="@{/users/{id}/add(id = ${user.id})}" method="get">
                        <select class="form-control" name="item_id">
                            <option disabled>Select item...</option>
                            <option th:each="item : ${items}" th:value="${item.id}"
                                    th:text="${item.name}">
                            </option>
                        </select>
                            <input class="btn btn-outline-dark" type="submit" value="Add">
                    </form>
                </div>

            <br>
            <br>
            <div class="text-center">
                <button class="btn btn-success" type="button" data-bs-toggle="modal"
                data-bs-target="#modal-cart">Proceed to checkout</button>
            </div>

            <div class="modal fade" id="modal-cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-dark text-white">
                            <h5 class="modal-title" id="exampleModalLabel">Your purchases</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                    <tr th:each="item, temp : ${user.getStuffList()}">
                                        <th th:scope="row" th:text="${temp.index + 1}"/>
                                        <td><a th:href="@{|/shopping_items/read/${item.id}|}" th:text="${item.name}"></a></td>
                                        <td th:text="${item.price}"/>
                                        <td><img th:src="${item.image}" width="100" height="100"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success">Pay</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>